@use "../foundation/_reset";
@use "../foundation/_base";
@use "../foundation/_variables" as *;

.c-lgTtl {
  position: relative;
  display: block;
  padding: 0 0 0 10px;
  color: $title;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.06em;

  &::before {
    // タイトルの左側のスタイル
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $corp;
    margin-right: 10px;
  }
}

.c-mdTtl {
  color: $title;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.06em;

  &.--footer {
    // フッター
    color: #fff;
    text-align: center;
  }
}

.c-check {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  .c-check__box {
    height: 15px;
    width: 15px;
    border-radius: 25%;
    border: 1px solid #000;
    cursor: pointer;

    &:checked {
      border-color: $bg-checked;
      background-color: $bg-checked;
    }
  }

  .c-check__label {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06em;
    padding-left: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-select {
  border: 1px solid #000;
  padding-left: 4px;
  display: inline-block;
  appearance: none;
  font-size: 1.8rem;
  line-height: 2.8rem;

  border: 1px solid #000;
  appearance: none;
  font-weight: 700;
  color: $font;

  .c-select__option {
  }
}

.c-label {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.06em;

  &::after {
    // ラベル文字の後
    content: ": ";
  }
}

// ==============================================
// MEDIUM
// ==============================================
@media screen and (width <= 1024px) {
}

// ==============================================
// SMALL 最低保証375px
// ==============================================
@media screen and (width <= 649px) {
  .c-lgTtl {
    font-size: 2rem;
  }

  .c-check {
    .c-check__box {
      height: 10px;
      width: 10px;
    }

    .c-check__label {
      font-size: 1.4rem;
      padding-left: 2px;
    }
  }
}
