@use "../foundation/_reset";
@use "../foundation/_base";
@use "../foundation/_variables" as *;

.l-main {
  display: flex;
  justify-content: center;
  padding: 52px 0 120px;
  background-color: $bg;

  .l-main__inner {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 48px;
    max-width: 1000px;
  }
}

.l-sectionWrap {
}

.l-section {
  display: flex;
  flex-direction: column;
}

// ==============================================
// MEDIUM
// ==============================================
@media screen and (width <= 1024px) {
  .l-main {
    padding: 40px 40px 100px;
    .l-main__inner {
      display: flex;
      flex-direction: column;
      row-gap: 52px;
    }
  }
}

// ==============================================
// SMALL
// ==============================================
@media screen and (width <= 649px) {
  .l-main {
    padding: 40px 20px 100px;
  }
}
