@use "../foundation/_reset";
@use "../foundation/_base";
@use "../foundation/_variables" as *;

.l-main {
  display: flex;
  justify-content: center;
  padding: 52px 0 120px;
  background-color: $bg;

  .l-main__inner {
    border: 1px solid #000;
    max-width: 1000px;
  }
}

.l-sectionWrap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.l-section {
  display: flex;
  flex-direction: column;
}

.l-prefList {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
  gap: 8px;
}

// ==============================================
// MEDIUM
// ==============================================
@media screen and (width <= 1024px) {
  .l-main {
    padding: 40px 40px 100px;
    .l-main__inner {
      display: flex;
      flex-direction: column;
      row-gap: 52px;
    }
  }

  .l-prefList {
    grid-template-columns: repeat(4, 1fr);
  }
}

// ==============================================
// SMALL
// ==============================================
@media screen and (width <= 649px) {
  .l-main {
    padding: 40px 20px 100px;
  }
  .l-prefList {
    grid-template-columns: repeat(3, 1fr);
  }
}
